/ footer
%div{ :id => 'footer'}
  %div{ :class => 'container'}
    %p{ :class => 'text-muted credit'}
      Site designed, developed and maintained by 
      %a{ :href => 'mailto:greg.heidorn@gmail.com'}
        Greg Heidorn
    %p{ :class => 'text-muted credit'}
      %a{ :href => '/'} Home
      |
      %a{ :href => '/news'} News
      |
      %a{ :href => '/scores'} Scores
      |
      %a{ :href => '/standings'} Standings
      |
      %a{ :href => '/teams'} Teams
      |
      %a{ :href => '/schedule'} Schedule
%script{ :src => '/js/jquery-1.10.2.min.js'}
%script{ :src => '/js/bootstrap.min.js'}
%script{ :src => '//cdn.ckeditor.com/4.4.4/standard/ckeditor.js'}
%script{ :src => '//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.4.1/adapters/jquery.min.js'}
:javascript
  var recap_editor = CKEDITOR.replace( 'recap_editor' );
  recap_editor.on( 'change', function( evt ) {
      // getData() returns CKEditor's HTML content.
      console.log( 'Total bytes: ' + evt.editor.getData().length );
      console.log( evt.editor.getData()) ;
  });

  $('#recap_save_button').click(function() {
    $.ajax({
      url: '/rest/recap',
      type: 'post',
      contentType: 'application/json',
      data: JSON.stringify({
        author: $('#author').val(),
        recap: CKEDITOR.instances.recap_editor.getData()
      })
    }).done(function() {
      console.log('successful recap post');    
    }).fail(function() {
      console.log('failed to save recap');
    });
  });