%div{ :class => 'navbar navbar-default navbar-fixed-top', :role => 'navigation'}
  %div{ :class => 'container'}
    %div{ :class => 'navbar-header'}
      %button{ :type => 'button', :class => 'navbar-toggle', :data => {:toggle => 'collapse', :target => '.navbar-collapse'}}
        %span{ :class => 'sr-only'}
          Toggle Navigation
        %span{ :class => 'icon-bar'}
        %span{ :class => 'icon-bar'}
        %span{ :class => 'icon-bar'}
      %a{:class => 'navbar-brand'}
        SCMC Softball
    %div{ :class => 'collapse navbar-collapse'}
      %ul{ :class => 'nav navbar-nav'}
        - if request.path_info.include? '/news' or request.path_info.eql? '/'
          %li{ :class => 'active'}
            %a{ :href => '/news'}
              News
        - else
          %li
            %a{ :href => '/news'}
              News
        - if request.path_info.include? '/scores'
          %li{ :class => 'active'}
            %a{ :href => '/scores'}
              Scoreboard
        - else
          %li
            %a{ :href => '/scores'}
              Scoreboard
        - if request.path_info.include? '/standings'
          %li{ :class => 'active'}
            %a{ :href => '/standings'}
              Standings
        - else
          %li
            %a{ :href => '/standings'}
              Standings
        - if request.path_info.include? '/teams'
          %li{ :class => 'active'}
            %a{ :href => '/teams'}
              Teams
        - else
          %li
            %a{ :href => '/teams'}
              Teams
        - if request.path_info.include? '/schedule'
          %li{ :class => 'active'}
            %a{ :href => '/schedule'}
              Schedule
        - else
          %li
            %a{ :href => '/schedule'}
              Schedule
        - if request.path_info.include? '/recap/form'
          %li{ :class => 'active'}
            %a{ :href => '/recap/form'}
              Recap Form
        - else
          %li
            %a{ :href => '/recap/form'}
              Recap Form       