/ views/form_recap.haml
%div{ :id => 'wrap'}
  = partial :"includes/header"
  %div{ :class => 'container'}
    %div{ :class => 'page-header'}
      %h1 Recap Entry Form
    %div
      Select the game you want to recap:




      %textarea{:name=>"recap_editor", :id=>"recap_editor", :rows=>"10", :cols=>"80"}
      %hidden{:id=>"gameDate", :value=>"7/11/2013"}
      %hidden{:id=>"homeTeam", :value=>"B.Roche"}
      %hidden{:id=>"awayTeam", :value=>"Kelly"}
      %hr
      %button{ :id => "recap_save_button", :class => "btn btn-primary"} Save