/ views/index.haml
%div{ :id => 'wrap'}
  = partial :"includes/header"
  %div{ :class => 'container'}
    %div{ :class => 'page-header'}
      %h1 News
    %div{:class=>'row'}
      %div{:class=>'col-md-6'}
        %h2 Weekly Recaps for Week 10
      %div{:class=>'col-md-6'}
        %h2{:class=>'pull-right'} 9/11/2013
    %div{:class=>'row'}
      %div{:class=>'col-md-12'}
        %p Important info about Thursday and Super Saturday (which is this weekend) is included.  Enjoy the last great Thursday night of the year, weather permitting.  
        %p Some things I forgot to add in the "Important Notes":  Don't forget that we have $10 a man due to captains by this week to defray some of the costs of the league.  Also, there's the $25 Hawks tickets raffle (only 100 chances sold).  We plan on drawing the winner on Super Saturday (if we sell out by then), and, so far, raffle chances are going fast.  Contact me or any SCMC board member for details about how to find us Thursday night.  
        %p It has been a blast "editing" the recaps this year.  Good luck to all in the playoffs and in Week Eleven.
    %div{:class=>'row'}
      %div{:class=>'col-md-6'}
        %h2 Weekly Recaps for Week 10
      %div{:class=>'col-md-6'}
        %h2{:class=>'pull-right'} 9/11/2013
    %div{:class=>'row'}
      %div{:class=>'col-md-12'}
        %p Important info about Thursday and Super Saturday (which is this weekend) is included.  Enjoy the last great Thursday night of the year, weather permitting.  
        %p Some things I forgot to add in the "Important Notes":  Don't forget that we have $10 a man due to captains by this week to defray some of the costs of the league.  Also, there's the $25 Hawks tickets raffle (only 100 chances sold).  We plan on drawing the winner on Super Saturday (if we sell out by then), and, so far, raffle chances are going fast.  Contact me or any SCMC board member for details about how to find us Thursday night.  
        %p It has been a blast "editing" the recaps this year.  Good luck to all in the playoffs and in Week Eleven.