!!!5
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{ :name => 'viewport', :content => 'width=device-width', 'initial-scale' => '1.0' }
    %title= @title ||= 'SCMC Softball'
    = partial :"includes/styles"
  %body
    = partial :"includes/header"
    = yield
    = partial :"includes/footer"