/ views/scoreboard.haml
%div{ :id => 'wrap'}
  = partial :"includes/header"
  %div{ :class => 'container'}
    %div{ :class => 'page-header'}
      %h1 Scoreboard &rsaquo; Week #{week} &rsaquo; #{gameDate}
    %div{ :class => 'league-scoreboard'}
      - @games.each do |g|
        %div{:class=>'game'}
          %div{:class=>'visitor-line'}
            %table{:class => 'linescore'}
              %tr
                %td{ :class=>'field'} #{g.field}
                %td{ :class=>'status'} #{g.status}
              %tr
                %td{ :class => 'linescore-row team-name'} #{g.awayTeam}
                %td{ :class => 'linescore-row score'} #{g.awayScore}
              %tr
                %td{ :class => 'linescore-row team-name'} #{g.homeTeam}
                %td{ :class => 'linescore-row score'} #{g.homeScore}
    %div
      %ul{:class=>'pagination'}
        %li
          - 1.upto(numWeeks).each do |i|
            - if i == 1
              %a{:href => "/scores/#{year}/week-#{i}"} Week #{i}
            - else
              %a{:href => "/scores/#{year}/week-#{i}"} #{i}