/ views/standings.haml
%div{ :id => 'wrap'}
  = partial :"includes/header"
  %div{ :class => 'container'}
    %div{ :class => 'page-header'}
      %h1 Standings &rsaquo; #{year}
    %div
      - if standings.any?
        %table{:class=>'table'}
          %tr
            %th TEAM
            %th W
            %th L
            %th PCT
            %th RS
            %th RA
            %th Diff
          - standings.each do |s|
            %tr
              %td #{s.teamName}
              %td #{s.wins}
              %td #{s.losses}
              %td #{'%.3f' % s.winPercentage}
              %td #{s.runsFor}
              %td #{s.runsAgainst}
              %td #{s.runDiff}

