/ views/team_list.haml
%div{ :id => 'wrap'}
  = partial :"includes/header"
  %div{ :class => 'container'}
    %div{ :class => 'page-header'}
      %h1 #{year} Teams
    %div
      - if @all_teams.any?
        - @all_teams.each do |t|
          %div{:class=>'game'}
            %h2{:class=> 'team-name'} #{t.teamName}
            %table{:class=>'table'}
              - t.players.each_with_index do |p, index|
                %tr
                  %td #{index + 1}
                  %td #{p.firstName} #{p.lastName}
      - else
        %p The website doesn't have any data for the #{year} season.
        %a{:href=>'/teams/' + Date.today.strftime("%Y")} Try the current season?