/* SCMC Sports Network Styles */
@font-face {
    font-family: 'franchiseregular';
    src: url('franchise-bold-webfont.eot');
    src: url('franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('franchise-bold-webfont.woff') format('woff'),
         url('franchise-bold-webfont.ttf') format('truetype'),
         url('franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('leaguegothic-regular-webfont.woff') format('woff'),
         url('leaguegothic-regular-webfont.ttf') format('truetype'),
         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: arial;
}

.navbar-brand { font-family: "franchiseregular", arial, verdana; font-size: 20pt; }
h1 { font-family: "franchiseregular", arial, verdana; }
h2 { font-family: "franchiseregular", arial, verdana; }
h3 { font-family: "franchiseregular", arial, verdana; }

.navbar-nav a { font-family: "franchiseregular", verdana; font-size: 18pt; }

.page-header {
	margin-top: 70px;
	padding-bottom: 0px;
}

#footer {
	background-color: #f8f8f8;
	box-shadow: 0px 500px 0px 500px #f8f8f8;
	border-top: 1px solid #e7e7e7;
	padding-top: 20px;
	margin-top: 30px;
}


.league-scoreboard {
	margin: 0 auto;
}

.game {
	border: 0px solid #cacaca;
	float: left;
	padding: 0px;
	width: 330px;
	margin: 0px 30px 20px 0px;
}

.game ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.pagination li { display: inline; }
ul.pagination a { font-size: 16pt; }

.linescore { margin: 0px; padding: 0px; }
.linescore td { margin: 10px 0px; }
.linescore-row {border-top: 1px solid #eaeaea; }
.status { text-transform: uppercase; font-family: arial, verdana; font-size: 10pt; text-align: right; font-family: "league_gothicregular", arial, verdana; font-size: 18pt; color: green;  }
.team-name { width: 160px;  font-family: "league_gothicregular", arial, verdana; font-size: 24pt; color: #3B3131;}
.score { text-align: right; width:70px; font-family: "times new roman"; font-size: 28pt; }

/* Jersey Colors */
.red { background-color: red; }
.jade-green { background-color: green; }
.electric-green { background-color: lightgreen; }
.sunset-orange { background-color: orange; }
.coral-orange { background-color: orange; }
.tropical-blue { background-color: lightblue; }
.light-blue { background-color: dodgerblue; }
.daisy-yellow { background-color: yellow; }
.old-gold { background-color: gold; }
.dark-chocolate { background-color: brown; }
.lilac { background-color: darkorchid; }
.dark-grey { background-color: darkgrey; }